@{
    ViewBag.Title = "Financial Resources";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Children learn from watching you earn, shop, save, and borrow – you’re the top influence on their financial lives. And you don’t need to be a money expert to help them start out strong</p>

<p>
    Many families of children with cancer experience financial difficulties. Even if the family has full medical insurance coverage, they can spend a large portion of their income on co-payments, travel, motels, meals, and other uncovered items. Families dependent on two incomes or single parent families are likely to experience financial difficulties if a parent must quit their job to care for the child. Numerous resources to help families through financial difficulties are listed below. The following are 50 Great Websites for Parents of Children with Special Needs. This list of resources is great for parents of children with special needs. The list contains links for associations, councils, centers, and societies. It also has links for conferences, financial aid and internships, and helpful websites, articles, and research. Blogs and Facebook pages are also on the list.
</p>

<p><strong>Some useful links</strong> </p>
<h3>Children</h3>
<ul>
    <li>
        <a href="https://www.mint.com/ultimate-resources-for-teaching-kids-about-money" target="_blank">Link 1</a>
    </li>
    <li>
    <a href="http://www.consumerfinance.gov/money-as-you-grow/" target="_blank">Link 2</a>
    </li>
    <li>
        <a href="https://www.bankofamerica.com/deposits/manage/teaching-kids-about-money.go" target="_blank">Link 3</a>
    </li>
</ul>

<h3>Parents</h3>
<ul>
    <li>
        <a href="https://www.mint.com/ultimate-resources-for-teaching-kids-about-money" target="_blank">Link 1</a>
    </li>
    <li>
        <a href="http://www.consumerfinance.gov/money-as-you-grow/" target="_blank">Link 2</a>
    </li>
    <li>
        <a href="https://www.bankofamerica.com/deposits/manage/teaching-kids-about-money.go" target="_blank">Link 3</a>
    </li>
</ul>

